:root {
	/* Theme colors */
	--background-color: rgba(255, 255, 255, 0.85);
	--background-color-mat: rgb(255, 255, 255);
	--accent-text-color: #5753c6;
	--theme-text-color: rgba(255, 255, 255, 0.95);
	--text-color: rgba(0, 0, 0, 0.9);
	--border-color: #d3d2d2;
	--accent-color: #7b61ff; /* iris from RADIX UI => #5753c6;*/
	--negativ-color: rgba(0, 0, 0, 0.8);
	/* Size */
	--navBar-height: 70px;
}

.dark-theme {
	--background-color: rgba(22, 22, 22, 0.75);
	--background-color-mat: rgb(43, 43, 43);
	--accent-text-color: #b1a9ff;
	--text-color: rgba(255, 255, 255, 0.9);
	--border-color: #52514e;
	--accent-color: #5472e4;
	--negativ-color: rgba(255, 255, 255, 0.9);
	--theme-text-color: rgba(0, 0, 0, 0.95);
}
