:root {
	/* MAIN THEME COLOR */
	--accent-color: #7b61ff;
	--success-color: #3e9b4f;
	--warning-color: #ffba18;
	--danger-color: #e54d2e;
	--white-color: #ececec;
	--black-color: #131313;
	/* THEME COLOR LIGHT */
	--background-color: rgba(255, 255, 255, 0.85);
	--background-color-mat: rgb(255, 255, 255);
	--text-color: rgba(0, 0, 0, 0.9);
}

.dark-theme {
	/* MAIN THEME COLOR */
	--accent-color: #5472e4;
	--success-color: #48b65c;
	--warning-color: #f7cb65;
	--danger-color: #fc7054;
	--white-color: #ececec;
	--black-color: #131313;
	/* THEME COLOR DARK */
	--background-color: rgba(22, 22, 22, 0.9);
	--background-color-mat: rgb(20, 20, 20);
	--text-color: rgba(255, 255, 255, 0.9);
}

/* SHARED STYLE */
/* Border color --gray-a7 */
