.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color-page-background);
	box-shadow: inset 0 0 0 1px var(--gray-a7);
	height: calc(100% - 14px);
	width: 44px;
	border-radius: 50px;
	position: absolute;
	top: 7px;
	left: 8px;
}
.admin_wrapper {
	height: 5%;
	width: 100%;
}

.avatar {
	margin-left: 6.3px;
	margin-top: 6px;
	box-shadow: inset 0 0 0 1px var(--gray-a7);
	height: 32px;
	width: 32px;
}
.switch_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 87%;
	width: 100%;
	gap: 30px;
}
.switch {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: none;
	border: 1px solid transparent;
	padding: 4px;
	border-radius: 40px;
	cursor: pointer;
	transition: background-color 1s ease, border 1s ease;
}
.switch:hover {
	background-color: var(--accent-color);
	border: 1px solid var(--text-color);
}
.compensator {
	height: 8%;
	width: 100%;
}
