/* .card_style {
	background-color: azure;
	 display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid rgba(207, 207, 196, 0.726);
	border-radius: 6px;

	padding: 0px 5px 5px 5px;
	width: 195px;
	height: 80px;
	min-width: 150px; 
}
 */
