.container {
	display: flex;
	align-items: center;
	width: fit-content;
	height: 40px;
	border: 1px solid;
	border-color: var(--gray-a7);
	background-color: var(--background-color);
	border-radius: 50px;
	padding: 2px;
}

.text_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 26px 0 10px;
	gap: 8px;
}

.avatar {
	height: 40px;
	width: 40px;
	margin: 1px;
}
