.cardContainer {
	position: relative;
	z-index: 0;
	box-shadow: inset 0 0 0 1px var(--gray-a7);
	background-color: var(--background-color);
	height: fit-content;
	padding: 8px;
	border-radius: var(--radius-5);
}

.largeList_trigger_wrapper {
	position: relative;
	top: 0;
	left: 0;
	padding: 0px;
	width: 100%;
	height: var(--select-trigger-height);
	border-radius: 4px;
	min-width: 150px;
	box-shadow: inset 0 0 0 1px var(--gray-a7);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: var(--color-page-background);
	border-radius: var(--radius-2);
	margin: auto;
}

.largeList_trigger {
	padding: 3px;
	width: 100%;
	margin-left: 8px;
	font-size: 100%;
}

.largeList_icon {
	display: flex;
	align-items: center;
	padding-left: var(--space-3);
	padding-right: var(--space-3);
}

.largeList_wrapper {
	position: absolute;
	width: 100%;
	top: 3px;
	left: 0px;
	margin: auto;
	border-radius: var(--radius-2);
	box-shadow: inset 0 0 0 1px var(--gray-a7);
	background-color: var(--color-page-background);
	z-index: 99;
}

.largeList_element_buttons {
	cursor: pointer;
	margin: 5px 8px 5px 8px;
	padding: 4px 4px 4px 25px;
	border-radius: var(--radius-3);
}

.largeList_element_buttons:hover {
	background-color: var(--accent-text-color);
	color: var(--background-color-mat);
}

.largeList_wrapper::-webkit-scrollbar {
	width: 4px;
}

.largeList_wrapper::-webkit-scrollbar-thumb {
	background: var(--text-color);
	border-radius: 10px;
}
